:root {
  font-size: 1.2em;
}

html {
  height: 100%;
  width: 100%;
}

body {
    display: flex;
    align-items: stretch;

    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    margin: 0;
    padding: 0;

    min-height: 100%;
    color: #00202e;
}

a:any-link {
  background-color: #8a508f;
  transition: 1s;
  padding: 0 0.1em;
  color: white;
}

a:hover {
  background-color: #ff6361;
}

div {
  min-width: 3%;
  min-height: 100%;
}

article, footer {
  padding: 20px;
}

.content {
  flex-grow: auto;
}
